@import "tailwindcss";

@font-face {
  font-family: 'ComicSans';
  src: url('./assets/fonts/ComicSansMS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.comic {
  font-family: 'ComicSans', cursive;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}